<div class="container-fluid bg-site-strong">
  <div class="container  text-white">
    <div class="row align-middle">
      <div class="col-6 col-sm-6 col-lg-3 ">
        <img src="../../../assets/images/logo/logosimplestransparente.png" style="height: 240px; width: auto;" alt="">
      </div>

      <div class="col-6 col-sm-6 col-lg-3 ">

        <div class="d-flex flex-column">
          <div class="p-2 shadow">NEL Zen Massoterapia</div>
          <div class="p-2 ">um espaço construído com todo carinho e amor, a massagem cura a tristeza, melhora o humor, aquece o corpo e alivia qualquer dor</div>
        </div>
      </div>


      <div class="col-6 col-lg-2 ">
        <div class="d-flex flex-column">
          <div class="p-2 shadow">Terapias</div>
          <div class="p-2 pointer1 text-left" *ngFor="let therapy of therapies" >
            <button type="button" class="btn btn-success text-left text-white border-0 bg-site-strong" (click)="navigateTo('tag_cloud_spied')">{{therapy.titulo_reduzido}}</button>


          </div>

        </div>
      </div>

      <div class="col-6 col-lg-2 ">

        <div class="d-flex flex-column">
          <div class="p-2 shadow">Localização</div>
          <div class="p-2 " [innerHTML]="addressLocalService | dotToParagraph">

          </div>
        </div>

        <div class="d-lg-none d-flex flex-column">
          <br>
          <div class="p-2 shadow">Contato</div>
          <div class="p-2 ">


              <a  target="_blank"
              href="{{whatsapplink}}{{phoneContactNoMask}}&text=Ola, Gostaria de agendar para dia e horario: "
              >
                <p><app-whatsapp></app-whatsapp></p>
                <p>{{phoneContactMask}}</p>

              </a>
          </div>
        </div>


      </div>

      <div class="d-none  d-lg-flex col-6 col-lg-2 ">
        <div class="d-flex flex-column">
          <div class="p-2 shadow">Contato</div>
          <div class="p-2 ">
            <a  target="_blank"
            href="{{whatsapplink}}{{phoneContactNoMask}}&text=Ola, Gostaria de agendar para dia e horario: "
            >
              <p><app-whatsapp></app-whatsapp></p>
              <p>{{phoneContactMask}}</p>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
