<div class="container">

  <table class="table table-hover">

    <thead>

      <tr>
        <th>Paciente</th>
        <th>telefone</th>
        <th>Atendimento ({{patientViewModelSearchListFromDBCount}})</th>
        <th>Protocolo | Pacote </th>
        <th>confirmada</th>
        <th>executada</th>
      </tr>

    </thead>
    <tbody>


  <tr *ngFor = "let patientSelected of patientViewModelSearchListFromDB">
    <td><a routerLink="/areacliente/{{patientSelected.key}}" >{{patientSelected.name}}</a></td>
    <td>
      <div *ngIf = "patientSelected.lineSchedule" >
        <a target="_blank" href="{{whatsapplink}}{{patientSelected.phone}}&text=Olá {{patientSelected.name}}, Gostaria de lhe pedir a gentileza de preencher alguns dados de saúde para personalizar seu atendimento, neste link: {{this.href}}{{patientSelected.key}}" >{{patientSelected.phone.substring(0,7)}}</a>
        <a target="_blank" href="{{whatsapplink}}{{patientSelected.phone}}&text=Olá {{patientSelected.name}}, Gostaria de lhe pedir para confirmar seu atendimento em {{getDateFormatedToShow(patientSelected.scheduleStart)}}, para confirmar é só responder : sim" >-{{patientSelected.phone.substring(7,12)}}</a>
      </div>
      <div *ngIf = "!patientSelected.lineSchedule">
        <div class="text-danger">{{patientSelected.phone}}</div>
      </div>
    </td>

    <td>
      <div *ngIf = "patientSelected.lineSchedule" >
        {{patientSelected.description}}
      </div>
      <div *ngIf = "!patientSelected.lineSchedule">
        <div class="text-success">{{patientSelected.description}}</div>
      </div>
    </td>
    <td>
      <div *ngIf = "patientSelected.lineSchedule" >
        {{patientSelected.protocol}}
      </div>
    </td>
    <td>
      <div *ngIf = "patientSelected.lineSchedule" >
        {{patientSelected.confirmed | portugueseBoolean}}
      </div>
    </td>
    <td>
      <div *ngIf = "patientSelected.lineSchedule" >
        {{patientSelected.executed | portugueseBoolean}}
      </div>
    </td>

  </tr>

  </tbody>
  </table>

</div>


