<div class="container">

  <table class="table table-hover">

    <thead>

      <tr>
        <th>Paciente</th>
        <th>telefone</th>
        <th>Atendimento ({{patientViewModelSearchListFromDBCount}})</th>
        <th>Protocolo | Pacote </th>
        <th class="d-none d-sm-none d-md-none d-lg-table-cell d-xl-table-cell">confirmada</th>
        <th class="d-lg-none d-xl-none">conf</th>
        <th class="d-none d-sm-none d-md-none d-lg-table-cell d-xl-table-cell">executada</th>
        <th class="d-lg-none d-xl-none">exec</th>
      </tr>

    </thead>
    <tbody>


  <tr *ngFor = "let patientSelected of patientViewModelSearchListFromDB" [ngClass]="getClassNewDayLine(patientSelected.description)">
    <td><a routerLink="/areacliente/{{patientSelected.key}}" >{{patientSelected.name}}</a></td>
    <td>
      <div *ngIf = "patientSelected.lineSchedule" >
        <a target="_blank" href="{{whatsapplink}}55{{patientSelected.phone}}&text=Olá {{removeLastName(patientSelected.nameClean)}}! Você poderia preencher alguns dados de saúde para que seu atendimento seja agilizado e personalizado? Só clicar no link abaixo leva apenas 5 minutinhos... {{this.href}}{{patientSelected.key}}" >{{patientSelected.phone.substring(0,7)}}</a>
        <a target="_blank" href="{{whatsapplink}}55{{patientSelected.phone}}&text=Olá {{removeLastName(patientSelected.nameClean)}}! Você confirma seu atendimento em {{getDateFormatedToShow(patientSelected.scheduleStart)}}, para confirmar é só responder : sim" >-{{patientSelected.phone.substring(7,12)}}</a>
      </div>
      <div *ngIf = "!patientSelected.lineSchedule">
        <div class="text-danger">{{patientSelected.phone}}</div>
      </div>
    </td>

    <td>
      <div *ngIf = "patientSelected.lineSchedule" >
        {{patientSelected.description}}
      </div>
      <div *ngIf = "!patientSelected.lineSchedule">
        <div class="text-success" [ngClass] = "getClassNewDayText(patientSelected.description)">{{patientSelected.description}}</div>
      </div>
    </td>
    <td>
      <div *ngIf = "patientSelected.lineSchedule" >
        {{patientSelected.protocol}}
      </div>
    </td>
    <td>
      <div *ngIf = "patientSelected.lineSchedule" >
        {{patientSelected.confirmed | portugueseBoolean}}
      </div>
    </td>
    <td>
      <div *ngIf = "patientSelected.lineSchedule" >
        {{patientSelected.executed | portugueseBoolean}}
      </div>
    </td>

  </tr>

  </tbody>
  </table>

</div>


