<div class="container">
  <div class="row bg-site-middle"><br></div>
  <div class="row text-site-strong">
    <div class="col-12 col-lg-6 text-right ">
      <div class="row ">
        <div class="col-4 ">
          <img  class="mr-sm-n4" src = "../../../assets/images/logo/logosimplestransparente.png" style="height: 170px; width: auto;">
        </div>

          <div class="col-8 align-self-end  text-left">
            <div class="  ml-md-n3">

              <h2 class="mb-n2" style="font-family: Bubbler One; font-weight: bolder;font-style: italic;">Massoterapia Integral</h2>
              <h2 class="" style="font-family: Dr Sugiyama; font-style: italic; color: darkgreen;">espaço feminino</h2>

            </div>
          </div>

      </div>


    </div>

    <div class=" col-12 col-lg-6  align-self-center  font-italic pl-5"> <!--col-6  align-self-center font-italic pl-5-->

        <h5>seu espaço exclusivamente feminino para massagem terapêutica em Santo André </h5>
        <a class="btn " target="_blank"
        href="{{whatsapplink}}{{phoneContactNoMask}}&text=Ola, Gostaria de agendar para dia e horario: "
        >
          <h6> <app-whatsapp></app-whatsapp> : {{phoneContactMask}}  </h6>
        </a>

    </div>

    <!--

    <div class="col-12 d-lg-none  align-self-center font-italic">
      <h5>seu espaço exclusivamente feminino para massagem terapêuticas em Santo André </h5>
      <h6>Agendamento whatsapp: {{phoneContactMask}}  </h6>
    </div>
      -->

  </div>
</div>
