<div class="container">
  <div class="row bg-site-middle"><br></div>
  <div class="row text-site-strong">
    <div class="col-6 text-right pr-5">
      <img src = "../../../assets/images/logo/logosimplestransparente.png" style="height: 170px; width: auto;">
    </div>

    <div class="col-6  align-self-center font-italic pl-5">
      <h2 class="">Massoterapia Integral</h2>
      <div class="d-none d-md-block">
        <h5>espaço exclusivamente feminino para massagem terapêuticas em Santo André </h5>
        <h6>Agendamento whatsapp: (11)98099-0048  </h6>
      </div>
    </div>

    <div class="col-12 d-md-none  align-self-center font-italic">
      <h5>espaço exclusivamente feminino para massagem terapêuticas em Santo André </h5>
      <h6>Agendamento whatsapp: (11)98099-0048  </h6>
    </div>
  </div>
</div>
