
<!--<div class="row mr-1 ml-1 mb-n3 mr-sm-2 ml-sm-2 mb-sm-n3 mr-md-3 ml-md-3 mb-md-n3 mb-lg-n5" style="margin-top: 70px;">-->
<div class="container-fluid " >



  <div class="row ml-0 pr-1" style="margin-top: 70px;">
    <div class="col-1 col-sm-2 col-lg-3  "><br><br></div>
    <div class="col-11  col-sm-9 col-lg-7 bg-site-middle"></div>
  </div>

  <div class="row pr-1 " style="margin-left: 1px;">
    <div class="col-11 col-sm-10 col-lg-9 bg-site-clear text-white" >
        <carousel [noPause]="false"  [activeSlide]="2"  style="z-index: 20;">
          <slide *ngFor="let slide of slides" class="p-lg-4 " >
              <!-- p-1 m-1 p-md-2 m-md-2 p-lg-4 m-lg-4  -->
              <div class=" row w-100 p-1 m-1 p-md-2 m-md-2 p-lg-4 m-lg-4 " >
                <div class="col-lg-5 col-10 left-side " >
                  <img src="assets/images/big-carousel/masoterapia_p.jpg" alt="First slide" style="display: block; width: 100%; " >
                </div>

                <div class="col-lg-7 col-10 right-Side bg-site-middle" style="z-index: 1;">

                  <div class="row mt-5  ">
                    <div class="col-lg-3 mt-5   col-md-6"></div>
                    <div class=" col-lg-8  col-md-8 mt-5"><h1>{{slide}} </h1> <h5> alivio de dores, relaxante, temos a massagem ideal para você.</h5></div>
                  </div>


                </div>
              </div>

              <!--
            <img src="assets/images/big-carousel/masoterapia_p.jpg" alt="First slide" style="display: block; width: 100%; "  >
            <div class="carousel-caption d-none d-md-block">
              <h3>First slide label </h3>
              <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
            -->
          </slide>

        </carousel>
    </div>
    <div class="col-1 bg-site-middle"></div>

  </div>

  <div class="row ml-0" >
    <div class="col-1 col-sm-2 col-lg-3  "></div>
    <div class="col-11  col-sm-10 col-md-8 col-lg-7 bg-site-middle"> </div>
  </div>
</div>

