

<div class="container-fluid pl-md-5 pr-md-5 pl-lg-3 pr-lg-3 bg-site-green1 ">

<div id="verifyDisplay" class="d-md-none"></div>

  <div class="row text-center bg-site-green1 p-3 " >
    <div class="col-12 col-lg-6 " > <!---->


      <div id="squareContainer" class="row d-md-none"
      [ngClass] = "{'row h-50 d-none d-md-flex':verifyDisplayMD()}"
      #classParentSquares>

        <div class="col-12 col-md-6 quad h-100 p-2 " >
          <div class=" h-100 bg-light shadow border">
            <div class="row h-100 ">
              <div class="col-12  align-self-start">
                <i class="material-icons size-icons"  >date_range</i>
              </div>
              <div class="col-12  m-2">
                <p>Horário de atendimento flexível </p>
                <p>Combine seu horário pelo Whatsapp</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 quad h-100 p-2" >
          <div class=" h-100 bg-light shadow border">
            <div class="row h-100 ">
              <div class="col-12 align-self-start">
                <i class="material-icons size-icons" >room</i>
              </div>
              <div class="col-12  m-2" [innerHTML]="addressLocalService | dotToParagraph">
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 quad h-100 p-2" >
          <a  target="_blank"
          href="{{whatsapplink}}{{phoneContactNoMask}}&text=Ola, Gostaria de agendar para dia e horario: "
          >

              <div class=" h-100 bg-light shadow border">
                <div class="row h-100 ">
                  <div class="col-12 align-self-start">
                    <i class="fab fa-whatsapp size-icons" ></i>
                  </div>
                  <div class="col-12  m-2">
                    <p>{{phoneContactMask}}</p>
                    <app-whatsapp></app-whatsapp>
                  </div>
                </div>
              </div>
          </a>
        </div>

        <div class="col-12 col-md-6 quad h-100 p-2" >
          <div class=" h-100 bg-light shadow border">
            <div class="row h-100 ">
              <div class="col-12 align-self-start">
                <i class="fas fa-hashtag size-icons"></i>
              </div>
              <div class="col-12  m-2">
                <p>Nossas redes sociais</p>
                <!--<i class="fab fa-facebook size-icons mr-5"></i>-->
                <i class="fab fa-instagram size-icons"></i>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>


    <!--<div class="col-9 col-lg-2 bg-site-green" style="z-index: -10; "> <br> <div class="d-lg-none" style="height: 100px;"> </div> </div>-->
    <div class="col-12 col-lg-6 align-self-center h-100   p-3 "  >
      <div class="mapouter  "><div class="gmap_canvas"><iframe class="gmap_iframe" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=567&amp;height=395&amp;hl=en&amp;q=rua porto rico, 27&amp;t=&amp;z=16&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://embedgooglemap.xyz/">embed google map</a></div><style>.mapouter{position:relative;text-align:right;width:100%;height:395px;}.gmap_canvas {overflow:hidden;background:none!important;width:100%;height:395px;}.gmap_iframe {height:395px!important;}</style></div>
    </div>


  </div>
</div>
