


<div class="col-5 w-100 d-inline-block pt-5 text-center " >
    <div class="card m-2 shadow">
      <div class="card-header">
        <div class="row h-100">
          <div class="col-4 align-self-center mt-n3">
            <i class="material-icons main-icons mt-n5" >feed</i>
          </div>
          <div class="col-8 align-self-center">
            {{packCurrent.titulo}}
          </div>
        </div>
      </div>
      <div class="card-body">
          <div class="row h-100">
            <div class="col-1 align-self-center">
            <i class="material-icons" style="font-size:36px;color:green">event_available</i>
            </div>
            <div class="col-11 align-self-center">
              <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center">{{packCurrent.sessoes}} Sessões<span class="badge badge-success badge-pill valores">R$ {{packCurrent.preco}},00</span></li>
                <li class="list-group-item d-flex justify-content-between align-items-center">{{packCurrent.descricao}}</li>

              </ul>
            </div>
          </div>
      </div>
      <div class="card-footer">
        <div class="row h-100">
          <div class="col-1 align-self-center">
            <i class="material-icons" style="font-size:24px;color:green">notes</i>
          </div>
          <div class="col-11 align-self-center">
            Sessões realizadas entre 2 e 3 meses
          </div>
        </div>
      </div>
    </div>
  </div>


