@import "../../style/globalStyleTheme.scss";


.panelClass
{
  background-color: black;
}


.full-width-field {
  width: 100%;
}

app-input-field , mat-form-field
{
  width: 100%;
}



accordion-group {
  ::ng-deep {
    div {
      &>div.panel-heading.card-header.panel-enabled {
        //background-color: rgba(52, 58, 64, 0.15); // change the background of every accordion heading
        @extend .bg-site-middle;

        .btn-link {
          color: rgb(6, 10, 9); // change the accordion heading buttons style
        }
      }

      &>div.panel-collapse.collapse.in.show>div {
        //@extend .bg-site-middle;
        //background-color: hsla(210, 10%, 83%, 0.10); // change the expanded content style
      }
    }
  }
}


a:hover {
  box-shadow: 0 2px #999;
}

a:active , button:active  {
  //box-shadow: 0 1px #666;
  transform: translateY(3px);
}
