
<app-header>
  <div textoLateralDireito>
   <h5>Seu histórico de informaçaões e atendimentos é muito importante para mantermos um serviço personalizado para você</h5>
  </div>
</app-header>


<div class="container mat-typography" style="font-size: 100%;">

  <app-loading-spinner [isLoading]="isLoading"></app-loading-spinner>

  <app-error-message [isError]="isError" [messageError]="messageError"></app-error-message>

  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">

     <accordion [isAnimated]="true">
      <accordion-group id="accordion_contact" heading="Informações de Contato" [(isOpen)]="accordionGroupOpen[0]" panelClass="panelClass" (isOpenChange)="gotoTop($event, 'accordion_contact')">
        <div class="row">

          <div [ngClass]="cssCol">
            <app-input-field  formControlName="Name"
            [classeCss]="aplicaCssErro('Name')"
            id="name1" label="Nome" [control]="formulario.get('Name')"
            ></app-input-field>
          </div>

          <div [ngClass]="cssCol">
            <mat-form-field appearance="fill" >
              <mat-label>Data Preenchimento</mat-label>
              <input matInput [matDatepicker]="pickerdateFillData" formControlName="DateFillData" >
              <mat-datepicker-toggle matSuffix [for]="pickerdateFillData"></mat-datepicker-toggle>
              <mat-datepicker #pickerdateFillData></mat-datepicker>
            </mat-form-field>
          </div>

          <div [ngClass]="cssCol">
              <mat-form-field appearance="fill" >
                <mat-label>Data Nascimento</mat-label>
                <input matInput [matDatepicker]="pickerdateBorn" formControlName="DateBorn"
                (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)"
                >
                <mat-datepicker-toggle matSuffix [for]="pickerdateBorn"></mat-datepicker-toggle>
                <mat-datepicker #pickerdateBorn ></mat-datepicker>
              </mat-form-field>
          </div>

          <div [ngClass]="cssCol">
            <app-input-field  formControlName="Phone"
            [classeCss]="aplicaCssErro('Phone')"
            id="Phone" label="Telefone:" [control]="formulario.get('Phone')"
            mask="(00)00000-0000"
            placeholder="(__)_____-____"
            ></app-input-field>
          </div>

          <div [ngClass]="cssCol">
            <app-input-field  formControlName="PhoneContact"
            [classeCss]="aplicaCssErro('PhoneContact')"
            id="PhoneContact" label="Telefone Contato Emergência:" [control]="formulario.get('PhoneContact')"
            mask="(00)00000-0000"
            placeholder="(__)_____-____"
            ></app-input-field>
          </div>

          <div [ngClass]="cssCol">
              <app-input-field  formControlName="Occupation"
              [classeCss]="aplicaCssErro('Occupation')"
              id="Occupation" label="Profissão:" [control]="formulario.get('Occupation')"
              ></app-input-field>
          </div>

          <div [ngClass]="cssColFieldSmall">
            <mat-form-field appearance="fill" >
              <mat-label>Estado Civil</mat-label>
              <mat-select formControlName="MaritalStatus" >
                <mat-option value="Soleira">Solteira</mat-option>
                <mat-option value="Casada">Casada</mat-option>
                <mat-option value="Divorciada">Divorciada</mat-option>
                <mat-option value="Viuva">Viúva</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div [ngClass]="cssColFieldSmall">
            <mat-form-field appearance="fill" >
              <mat-label>Filhos</mat-label>
              <mat-select formControlName="Sons" >
                <mat-option [value]="i" *ngFor="let item of [0,1,2,3,4,5,6,7,8,9]; let i= index" >{{i}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div [ngClass]="cssColFieldSmall">
            <app-input-field  formControlName="Weight"
            [classeCss]="aplicaCssErro('Weight')"
            id="Weight" label="Peso(Kg)" [control]="formulario.get('Weight')"
            mask="000,0"
            placeholder="___,_"
            ></app-input-field>
          </div>

          <div [ngClass]="cssColFieldSmall">
            <app-input-field  formControlName="Height"
            [classeCss]="aplicaCssErro('Height')"
            id="Height" label="Altura(m)" [control]="formulario.get('Height')"
            mask="0,00"
            placeholder="_,__"
            ></app-input-field>
          </div>

        </div>


        <div class="row">
          <a class="btn text-white bg-button mx-2" (click)="nextStepOnClick(1)">Próximo</a>
        </div>


      </accordion-group>
      <accordion-group id="accordion_motivation" heading="Motivo da Procura" [(isOpen)]="accordionGroupOpen[1]" (isOpenChange)="gotoTop($event, 'accordion_motivation')">

        <div id="Motivation" class="row">
          <div class="checkbox" class="col-6 col-sm-3"
            formArrayName="Motivation"
            *ngFor="let item of getArrayControls('Motivation'); let i = index" >
            <label class="checkbox-inline">
              <input type="checkbox" [formControlName]="i"  > {{ Motivation[i] }}
            </label>
          </div>
        </div>


        <div  class="row">
          <mat-form-field appearance="fill" >
            <mat-label>Queixa Principal</mat-label>
            <textarea matInput formControlName="MainComplaint" ></textarea>
          </mat-form-field>
        </div>


        <div  class="row">
          <mat-form-field appearance="fill" >
            <mat-label>História da queixa: (desde quando; localização anatômica; frequência e intensidade do incômodo e em qual momento aparece)</mat-label>
            <textarea matInput formControlName="HistoryComplaint"></textarea>
          </mat-form-field>
        </div>

        <div  class="row">
          <mat-form-field appearance="fill" >
            <mat-label>Queixa Secundária</mat-label>
            <textarea matInput formControlName="SecundaryComplaint"></textarea>
          </mat-form-field>
        </div>



        <div class="row">
          <a  class="btn text-white bg-button mx-2" (click)="nextStepOnClick(2)">Próximo</a>
        </div>
      </accordion-group>
      <accordion-group id="accordion_habits" heading="Hábitos de Vida" [(isOpen)]="accordionGroupOpen[2]" (isOpenChange)="gotoTop($event, 'accordion_habits')">

        <div class="row">
          <div [ngClass]="cssCol">
            <app-input-field  formControlName="IngestionLiquid"
            [classeCss]="aplicaCssErro('IngestionLiquid')"
            id="IngestionLiquid" label="Ingestão de líquidos: (litros aproximados)" [control]="formulario.get('IngestionLiquid')"
            ></app-input-field>
          </div>

          <!--
          <div [ngClass]="cssCol">
            <app-input-field  formControlName="LiquidTypes"
            [classeCss]="aplicaCssErro('LiquidTypes')"
            id="LiquidTypes" label="Quais líquidos?:" [control]="formulario.get('LiquidTypes')"
            ></app-input-field>
          </div>


          <div [ngClass]="cssCol">
            <app-input-field  formControlName="Smoking"
            [classeCss]="aplicaCssErro('Smoking')"
            id="Smoking" label="Tabagismo:" [control]="formulario.get('Smoking')"
            ></app-input-field>
          </div>


          <div [ngClass]="cssCol">
            <app-input-field  formControlName="Alcohol"
            [classeCss]="aplicaCssErro('Alcohol')"
            id="Alcohol" label="Consome bebidas alcoólicas?" [control]="formulario.get('Alcohol')"
            ></app-input-field>
          </div>


          <div [ngClass]="cssCol">
            <app-input-field  formControlName="Psychoactive"
            [classeCss]="aplicaCssErro('Psychoactive')"
            id="Psychoactive" label="Consome outras substâncias psicoativas?" [control]="formulario.get('Psychoactive')"
            ></app-input-field>
          </div>

          <div [ngClass]="cssCol">
            <app-input-field  formControlName="Addiction"
            [classeCss]="aplicaCssErro('Addiction')"
            id="Addiction" label="Apresenta outros vícios:" [control]="formulario.get('Addiction')"
            ></app-input-field>
          </div>
          -->

          <div [ngClass]="cssCol">
            <app-input-field  formControlName="PhysicalActivity"
            [classeCss]="aplicaCssErro('PhysicalActivity')"
            id="PhysicalActivity" label="Atividade Física e frequência:" [control]="formulario.get('PhysicalActivity')"
            ></app-input-field>
          </div>

          <div [ngClass]="cssCol">
            <app-input-field  formControlName="Feces"
            [classeCss]="aplicaCssErro('Feces')"
            id="Feces" label="Fezes/Urina: (frequência e características)" [control]="formulario.get('Feces')"
            ></app-input-field>
          </div>

          <div [ngClass]="cssCol">
            <app-input-field  formControlName="LeisureActivities"
            [classeCss]="aplicaCssErro('LeisureActivities')"
            id="LeisureActivities" label="Realiza atividades de lazer?" [control]="formulario.get('LeisureActivities')"
            ></app-input-field>
          </div>


          <!--
          <div [ngClass]="cssCol">
            <app-input-field  formControlName="PhysicalActivityFrequency"
            [classeCss]="aplicaCssErro('PhysicalActivityFrequency')"
            id="PhysicalActivityFrequency" label="Frequência: " [control]="formulario.get('PhysicalActivityFrequency')"
            ></app-input-field>
          </div>
          -->
        </div>

        <div  class="row">
          <mat-form-field appearance="fill" >
            <mat-label>Qualidade do sono : (horas de sono, ignição do sono; se é reparador; se acorda durante a noite/qual horário; se as horas dormidas são suficientes; sono agitado ou leve?) </mat-label>
            <textarea matInput formControlName="QualitySleep"></textarea>
          </mat-form-field>
        </div>

        <!--
        <div  class="row">
          <mat-form-field appearance="fill" >
            <mat-label>Qual a relação entre: trabalho X descanso X lazer (em uma semana)?  </mat-label>
            <textarea matInput formControlName="LeisureRestWork"></textarea>
          </mat-form-field>
        </div>
        -->


        <div class="row">
          <a class="btn text-white bg-button mx-2" (click)="nextStepOnClick(3)">Próximo</a>
        </div>
      </accordion-group>
      <accordion-group id="accordion_disease" heading="Histórico  Clínico" [(isOpen)]="accordionGroupOpen[3]" (isOpenChange)="gotoTop($event, 'accordion_disease')">

        <div id="disease" class="row">
          <div class="checkbox" class="col-6 col-sm-3"
            formArrayName="Disease"
            *ngFor="let item of getArrayControls('Disease'); let i = index" >
            <label class="checkbox-inline">
              <input type="checkbox" [formControlName]="i"> {{ Disease[i] }}
            </label>
          </div>
        </div>

        <div  class="row">
          <mat-form-field appearance="fill" >
            <mat-label>Distúrbios da menstruação? Quais?  </mat-label>
            <textarea matInput formControlName="DisturbMenstruation"></textarea>
          </mat-form-field>
        </div>



        <div class="card">
          <div class="card-header">
            Alterações
          </div>
          <div class="card-body">
              <div id="healthChanges" class="row">
                <div class="checkbox" class="col-6 col-sm-4 col-lg-3"
                  formArrayName="HealthChanges"
                  *ngFor="let item of getArrayControls('HealthChanges'); let i = index" >
                  <label class="checkbox-inline">
                    <input type="checkbox" [formControlName]="i"> {{ HealthChanges[i] }}
                  </label>
                </div>
              </div>

          </div>
        </div>


        <div class="card my-3">
          <div class="card-header">
            Tratamentos
          </div>
          <div class="card-body">
              <div id="Treatments" class="row">
                <div class="checkbox" class="col-6 col-sm-4 ol-lg-3"
                  formArrayName="Treatments"
                  *ngFor="let item of getArrayControls('Treatments'); let i = index" >
                  <label class="checkbox-inline">
                    <input type="checkbox" [formControlName]="i"> {{ Treatments[i] }}
                  </label>
                </div>
              </div>

              <div  class="row">
                <mat-form-field appearance="fill" >
                  <mat-label>Algum outro tratamento?   </mat-label>
                  <textarea matInput formControlName="OthersTreatments"></textarea>
                </mat-form-field>
              </div>

              <div  class="row">
                <mat-form-field appearance="fill" >
                  <mat-label>Faz uso de medicamentos? Quais:  </mat-label>
                  <textarea matInput formControlName="Medicines"></textarea>
                </mat-form-field>
              </div>

          </div>
        </div>

        <div  class="row">
          <div [ngClass]="cssCol">
            <app-input-field  formControlName="Dum"
            [classeCss]="aplicaCssErro('Dum')"
            id="Dum" label="D.U.M. (Data última menstruação)" [control]="formulario.get('Dum')"
            ></app-input-field>
          </div>

          <div [ngClass]="cssCol">
            <div class="checkbox" >
              <label class="checkbox-inline">
                <input type="checkbox" formControlName="Diu"> Faz uso de D.I.U.
              </label>
            </div>
          </div>

          <div [ngClass]="cssCol">
            <div class="checkbox" >
              <label class="checkbox-inline">
                <input type="checkbox" formControlName="Subcutaneous"> Implante subcutâneo
              </label>
            </div>
          </div>

          <div [ngClass]="cssCol">
            <div class="checkbox" >
              <label class="checkbox-inline">
                <input type="checkbox" formControlName="Prosthesis"> É portador de prótese, placas ou pinos
              </label>
            </div>
          </div>

          <div [ngClass]="cssCol">
            <div class="checkbox" >
              <label class="checkbox-inline">
                <input type="checkbox" formControlName="Locomotion"> Possui dificuldade de locomoção
              </label>
            </div>
          </div>

          <!--
          <div [ngClass]="cssCol">
            <app-input-field  formControlName="SubcutaneousOther"
            [classeCss]="aplicaCssErro('SubcutaneousOther')"
            id="SubcutaneousOther" label="Outros" [control]="formulario.get('SubcutaneousOther')"
            ></app-input-field>
          </div>
          -->



        </div>

        <div  class="row">
          <mat-form-field appearance="fill" >
            <mat-label> Histórico de Cirurgias: (quais e há quanto tempo)</mat-label>
            <textarea matInput formControlName="Surgeries"></textarea>
          </mat-form-field>
        </div>

        <!--
        <div  class="row">
          <mat-form-field appearance="fill" >
            <mat-label> Doenças familiares pregressas: (pais e avós)  </mat-label>
            <textarea matInput formControlName="FamilyIllnessess"></textarea>
          </mat-form-field>
        </div>
        -->

        <div  class="row">
          <mat-form-field appearance="fill" >
            <mat-label> Outras Informações  </mat-label>
            <textarea matInput formControlName="Comments"></textarea>
          </mat-form-field>
        </div>

        <div class="row">
          <button type="button" (click)="saveModal()"  class="btn text-white bg-button mx-2" >Enviar</button>
        </div>
      </accordion-group>
     </accordion>



     <h1 class="mt-4 mb-1">Atendimentos ({{getSchedulesLength()}}) <a class="btn" (click)="addSchedule()" *ngIf="isAuthenticated()"><span class="material-icons" >note_add</span></a> </h1>

     <div id="Schedules" class="row" *ngIf="schedulesPopulated" #container>
       <div class="col-12 col-md-6 col-lg-4"
         formArrayName="Schedules"
         *ngFor="let item of getSchedules(); let i = index" >

         <app-schedule-register [formControlName]="i" [index]="i" [removeButtonActive]="isAuthenticated()"  [readonly]= "!isAuthenticated()"></app-schedule-register>
       </div>
     </div>

     <div class="row" >
      <div class="col-6 mb-4" *ngIf="isAuthenticated()">
        <div class="row" >
          <button type="submit" class="btn text-white bg-button " >Salvar</button>
          <app-loading-spinner [isLoading]="isLoadingSaveData" [showText]="false"></app-loading-spinner>
        </div>
      </div>

      <app-success-message [recordSuccess]="recordSuccess"></app-success-message>

    <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-sizes-name1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content w-100">
          <div class="modal-header text-site-strong mx-auto">
            <i class="material-icons" style="font-size:46px;color:green">done</i>
            <h2 class="pt-3">Informações enviadas com sucesso!</h2>
          </div>
          <div class="modal-body mx-auto">
            <div class="">
              <div >
                <button type="button" class="btn modalButton text-left text-white border-0 bg-site-strong" (click)="navigateTo('package_spied')">Clique aqui para ver nossos pacotes</button>
              </div>

              <br>
              <div class="text-center">
                <button type="button" class="btn text-white bg-button" (click)="closeModal()">Fechar</button>
              </div>
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>

    </div>

    <app-error-message [isError]="isError" [messageError]="messageError"></app-error-message>

    <div class="row mt-4" *ngIf="isAuthenticated()">
      <a routerLink="/admin" class="btn text-white bg-button " >Voltar Dashboard</a>
    </div>

  </form>

</div>

<app-footer></app-footer>
