
<!--

<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="#">Navbar</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
	data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
	(click)="toggleCollapsed()"	>
	  <span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav" [collapse]="isCollapsed" [isAnimated]="true">
	  <ul class="nav nav-pills">

		<li class="nav-item " *ngFor="let path of paths" >
			<a class="nav-link" routerLinkActive="active" [routerLink]="[path]">{{ path }}</a>
		</li>

		  <li class="nav-item dropdown">
			<div class="btn-group" dropdown>
				<a id="button-basic" dropdownToggle class="nav-link dropdown-toggle"
				aria-controls="dropdown-animated">
				  modulo
			</a>
			<ul id="dropdown-animated" *dropdownMenu class="dropdown-menu"
			role="menu" aria-labelledby="button-animated">
		  <li role="menuitem"><a class="dropdown-item" routerLink="/modulo1">modulo1</a></li>
		  <li role="menuitem"><a class="dropdown-item" routerLink="/modulo1/filho1">filho1</a></li>
		  <li role="menuitem"><a class="dropdown-item" routerLink="/modulo1/filho1/4">Filho1/4</a></li>
		</ul>
			  </div>
		  </li>
		<li class="nav-item">
		  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
		</li>
	  </ul>
	</div>
  </nav>
-->




<router-outlet></router-outlet>
