@import "../../shared-kernel/css/mediaqueries.scss";


.parallaxParent {

    background-image: url("../../../assets/images/logo/mobile/logoTransparenteMobile.png");
    background-size: 100% auto;
    background-repeat: no-repeat;

}


.parallaxFront{
	height: 100%;
	background-image: url("../../../assets/images/logo/mobile/bolasTransparenteMobile.png");
	background-position: 0% 0%;
	background-repeat: no-repeat;
	background-size: 100% auto;
}


  @include respond-above(md) { //lg
    .parallaxParent {

      background-image: url("../../../assets/images/logo/desktop/logotransparente.png");
      background-attachment: fixed;
      background-size: cover;
    }

    .parallaxFront{
      height: 100%;
      background-attachment: fixed;
      background-image: url("../../../assets/images/logo/desktop/bolastransparente.png");
      background-position: 0% 100%;
      background-repeat: no-repeat;
      background-size: cover;
    }

  }










.parallaxBgPosition
{
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.3;
  width: 100%;
  height: 100%;
}


.layerOpacidade
{
  background-color: rgba($color: #f8f2f2, $alpha: .5);
}


.card  { background-color: rgba(245, 245, 245, 0.4); }
.card-header, .card-footer { opacity: 1}

.list-group, .list-group-flush, .list-group-item { background-color: rgba(245, 245, 245, 0.2); }


.circleTherapist  {
	height: 20px;
	width: 20px;
	margin: 0px 0px;
	border-radius: 100%;
	background: #789b51;

  }

.colorTraco
{
  background: #789b51;
}

.border-color
{
  border-left: 8px solid;
  border-color: #789b51;

}

