<div class="container mt-3 " style="position: fixed ; top: 70px; z-index: 999; color: white;" *ngIf="isDebug">
  <span class="d-block bg-success d-sm-none d-md-none d-lg-none d-xl-none "> MIM </span>
  <span class="d-sm-block bg-info d-none d-md-none d-lg-none d-xl-none">SM</span>
  <span class="d-md-block bg-warning d-none d-sm-none d-lg-none d-xl-none">MD</span>
  <span class="d-lg-block bg-danger d-none d-sm-none d-md-none d-xl-none">LG</span>
  <span class="d-xl-block bg-secondary d-none d-sm-none d-md-none d-lg-none ">XL</span>
</div>
