
<app-size-bar-debug class="d-none"></app-size-bar-debug>

<div class="container  h-100 d-none d-flex1">

  <div class="mx-auto  bg-warning align-self-center" ><h2 class="text-center ">Site temporariamente desativado</h2></div>
</div>

<div id="scrollSpyDiv" style="position: fixed ; top: 50%; right: 0; z-index: 999;" class="shadow">


  <div  *ngFor="let section of sections">
    <button type="button" (click)="navigateTo(section.nameSpied)" class="btn btn-outline-light text-dark border-0"
    [ngClass] = "{'d-none ':verifyCurrentSection(section.nameSpied)}"
     > <span style="color: black; text-shadow: 0px -2px 0px white;"> {{section.name}} </span>  </button>


    <button type="button" (click)="navigateTo(section.nameSpied)" class="btn btn-outline-light text-dark border shadow"
    [ngClass] = "{'d-none ':!verifyCurrentSection(section.nameSpied)}"
    > <span style="color: black; text-shadow: 0px -2px 0px white;"> {{section.name}} </span> </button>
  </div>



</div>


<!--

    <div  *ngFor="let section of sections">
      <button type="button" (click)="triggerScrollTo(section.nameSpied)" class="btn btn-outline-light text-dark border-0"
      [ngClass] = "{'d-none ':verifyCurrentSection(section.nameSpied)}"
       >{{section.name}} </button>


      <button type="button" (click)="triggerScrollTo(section.nameSpied)" class="btn btn-outline-light text-dark border shadow"
      [ngClass] = "{'d-none ':!verifyCurrentSection(section.nameSpied)}"
      >{{section.name}} </button>
    </div>

-->



<!--
<app-top-logo></app-top-logo>
-->
<app-header>
  <div textoLateralDireito>
    <h5 style="font-family: nirmala; ">Espaço exclusivamente feminino para massagens terapêuticas e estéticas em Santo André </h5>
    <app-whatsapp-link-message-schedule-template>
      <div contentButton>
        <h6> <app-whatsapp></app-whatsapp> : {{phoneContactMask}}  </h6>
      </div>
    </app-whatsapp-link-message-schedule-template>
    <app-slogan></app-slogan>

  </div>
</app-header>

<div appScrollSpy [spiedTags]="['DIV']" (sectionChange)="onSectionChange($event)">
    <div id="home_spied" #home_spied></div>
    <app-top-toolbar></app-top-toolbar>

    <app-big-carousel></app-big-carousel>

    <div id="tag_cloud_spied" #tag_cloud_spied  > </div>
    <app-tag-cloud></app-tag-cloud>
    <div class="mb-3" ><br></div>

    <div id="therapy_section_spied" #therapy_section_spied class="position-therapy " > </div>
    <app-therapy-section></app-therapy-section>
    <div class="mb-3" ><br></div>

    <div id="therapist_spied" #therapist_spied></div>
    <app-therapist></app-therapist>
    <div class="mb-3" ><br></div>

    <div id="price_spied" #price_spied></div>
    <app-price></app-price>

    <div id="contact_spied" #contact_spied></div>
    <div class="mb-3" ><br></div>
    <app-contact></app-contact>

    <div class="mb-3" ><br></div>

   <app-footer></app-footer>

</div>

