<div *ngIf="showText">
  <div *ngIf="isLoading" class="m-5">
    <div class="alert alert-success text-center" >
      <mat-progress-spinner class="d-inline mx-auto" diameter="30" value="30" mode="indeterminate" ></mat-progress-spinner><strong class="ml-5">Carregando</strong>
    </div>
  </div>
</div>

<div *ngIf="!showText">
  <div class="d-inline ml-2" *ngIf = "isLoading">
    <mat-progress-spinner class="d-inline" diameter="30" value="30" mode="indeterminate" ></mat-progress-spinner>
  </div>
</div>
