
<div class="container mat-typography" style="font-size: 100%;">
  <h1> Login </h1>

<form [formGroup]="formulario" (ngSubmit)="onSubmit()">

  <app-input-field  formControlName="user"
  [classeCss]="aplicaCssErro('user')"
  id="user" label="Usuário" [control]="formulario.get('user')"
  ></app-input-field>

  <app-input-field  formControlName="password"
  [classeCss]="aplicaCssErro('password')"
  id="password" label="Senha" type="password" [control]="formulario.get('password')"
  ></app-input-field>

  <button type="submit" class="btn btn-outline-success" [disabled]="isLoading" >Logar </button>
  <app-loading-spinner [isLoading]="isLoading" [showText]="false"></app-loading-spinner>

</form>

<app-error-message [isError]="isError" [messageError]="messageError"></app-error-message>

</div>
