
<div class="container-fluid pb-1 mt-1 mb-1 bg-site-clear">
  <div class="mb-1" ><br></div>
  <div class="row h-100 pt-5" >

    <div class="col-lg-4 align-self-center " >
      <div class="card m-2 rounded shadow d-none">
        <div class="card-header">
          <div class="row h-100">
            <div class="col-4 align-self-center mt-n3">
              <i class="material-icons main-icons  mt-n5 " >monetization_on</i>
            </div>
            <div class="col-8 align-self-center">
                Valores por Sessão
            </div>
          </div>
        </div>
        <div class="card-body">
            <div class="row h-100">
              <div class="col-1 col-lg-2 align-self-center">
              <i class="material-icons " style="font-size:36px;color:green" >event_available</i>
              </div>
              <div class="col-11 col-lg-10  align-self-center">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center">Os valores variam de acordo com o tipo de massagem e duração. </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center"> <div class="pointer" (click)="navigateTo('tag_cloud_spied')">Clique aqui e veja opções de massagens e seus preços</div>   </li>
                </ul>
              </div>
            </div>
        </div>
        <div class="card-footer">
          <div class="row h-100">
            <div class="col-1 col-lg-2 align-self-center">
              <i class="material-icons " style="font-size:24px;color:green">notes</i>
            </div>
            <div class="col-11 col-lg-10 align-self-center">
              Veja também detalhes e indicações de cada massagem
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 align-self-center mt-5 mt-lg-0 d-none">
      <div class="card m-2 shadow">
        <div class="card-header">
          <div class="row h-100">
            <div class="col-4 align-self-center mt-n3">
              <i class="material-icons main-icons mt-n5" >menu_book</i>
            </div>
            <div class="col-8 align-self-center">
                Pacotes de Sessões
            </div>
          </div>
        </div>
        <div class="card-body">
            <div class="row h-100">
              <div class="col-1 col-lg-2 align-self-center">
              <i class="material-icons" style="font-size:36px;color:green">event_available</i>
              </div>
              <div class="col-11 col-lg-10 align-self-center">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center">Você ganha desconto fechando pacotes de 4,5 ou 10 sessões</li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="pointer" (click)="navigateTo('package_spied')">Clique aqui e veja nossos pacotes</div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">Pacotes podem ser divididos em 2 ou 3 pagamentos</li>
                </ul>
              </div>
            </div>
        </div>
        <div class="card-footer">
          <div class="row h-100">
            <div class="col-1 col-lg-2 align-self-center">
              <i class="material-icons" style="font-size:24px;color:green">notes</i>
            </div>
            <div class="col-11 col-lg-10 align-self-center">
              Obs: O tipo de massagem previsto no pacote poderá ser alterado conforme sua necessidade.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 align-self-center mt-5 mt-lg-0 ">
      <div class="card m-2 shadow">
        <div class="card-header">
          <div class="row h-100">
            <div class="col-4 align-self-center mt-n3">
              <i class="material-icons main-icons mt-n5" >payments</i>
            </div>
            <div class="col-8 align-self-center">
                Formas de Pagamento
            </div>
          </div>
        </div>
        <div class="card-body">
            <div class="row h-100">
              <!--
              <div class="col-1 align-self-center">
              <i class="material-icons" style="font-size:36px;color:green">event_available</i>
              </div>
              -->
              <div class="col-12 align-self-center">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center"><i class="material-icons" style="font-size:22px;color:green">money</i> Dinheiro</li>
                  <li class="list-group-item d-flex justify-content-between align-items-center"><i class="material-icons" style="font-size:22px;color:green">handshake</i> Cartão de Débito </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center"><i class="material-icons" style="font-size:22px;color:green">credit_card</i> Cartão de Crédito (com acréscimo de 4%)</li>
                  <li class="list-group-item d-flex justify-content-between align-items-center"><i class="material-icons" style="font-size:22px;color:green">aod</i> Pix</li>
                </ul>
              </div>
            </div>
        </div>
        <div class="card-footer d-none">
          <div class="row h-100">
            <div class="col-1 col-lg-2 align-self-center">
              <i class="material-icons" style="font-size:24px;color:green">notes</i>
            </div>
            <div class="col-11 col-lg-10 align-self-center ">
              Pacotes podem ser divididos em 2 ou 3 pagamentos
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>
  <div class="mb-2" ><br></div><div class="mb-2" ><br></div>
</div>
