
<div class="container-fluid pb-2 mt-5 mb-5 bg-site-clear">
  <div class="mb-5" ><br></div>
  <div class="row h-100 pt-5" >

    <div class="col-lg-4 align-self-center">
      <div class="card m-2 rounded shadow">
        <div class="card-header">
          <div class="row h-100">
            <div class="col-4 align-self-center mt-n3">
              <i class="material-icons main-icons  mt-n5 " >monetization_on</i>
            </div>
            <div class="col-8 align-self-center">
                Valores por Sessão
            </div>
          </div>
        </div>
        <div class="card-body">
            <div class="row h-100">
              <div class="col-1 align-self-center">
              <i class="material-icons " style="font-size:36px;color:green" >event_available</i>
              </div>
              <div class="col-11 align-self-center">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center">30 min  <span class="badge badge-success badge-pill valores">R$ 60,00</span></li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">45 min  <span class="badge badge-success badge-pill valores">R$ 60,00</span></li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">1h   <span class="badge badge-success badge-pill valores">R$ 60,00</span></li>
                </ul>
              </div>
            </div>
        </div>
        <div class="card-footer">
          <div class="row h-100">
            <div class="col-1 align-self-center">
              <i class="material-icons " style="font-size:24px;color:green">notes</i>
            </div>
            <div class="col-11 align-self-center">
              Pagamento no momento do atendimento
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 align-self-center mt-5 mt-lg-0">
      <div class="card m-2 shadow">
        <div class="card-header">
          <div class="row h-100">
            <div class="col-4 align-self-center mt-n3">
              <i class="material-icons main-icons mt-n5" >menu_book</i>
            </div>
            <div class="col-8 align-self-center">
                Pacotes de Sessões
            </div>
          </div>
        </div>
        <div class="card-body">
            <div class="row h-100">
              <div class="col-1 align-self-center">
              <i class="material-icons" style="font-size:36px;color:green">event_available</i>
              </div>
              <div class="col-11 align-self-center">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center">4 Sessões de 45 min (10% Desconto)<span class="badge badge-success badge-pill valores">R$ 500,00</span></li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">8 Sessões de 45 min (15% Desconto)<span class="badge badge-success badge-pill valores">R$ 900,00</span></li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">10 Sessões de 45 min (20% Desconto)<span class="badge badge-success badge-pill valores">R$ 1200,00</span></li>
                </ul>
              </div>
            </div>
        </div>
        <div class="card-footer">
          <div class="row h-100">
            <div class="col-1 align-self-center">
              <i class="material-icons" style="font-size:24px;color:green">notes</i>
            </div>
            <div class="col-11 align-self-center">
              Sessões realizadas entre 2 e 3 meses
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 align-self-center mt-5 mt-lg-0">
      <div class="card m-2 shadow">
        <div class="card-header">
          <div class="row h-100">
            <div class="col-4 align-self-center mt-n3">
              <i class="material-icons main-icons mt-n5" >payments</i>
            </div>
            <div class="col-8 align-self-center">
                Formas de Pagamento
            </div>
          </div>
        </div>
        <div class="card-body">
            <div class="row h-100">
              <!--
              <div class="col-1 align-self-center">
              <i class="material-icons" style="font-size:36px;color:green">event_available</i>
              </div>
              -->
              <div class="col-12 align-self-center">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center"><i class="material-icons" style="font-size:22px;color:green">money</i> Dinheiro</li>
                  <li class="list-group-item d-flex justify-content-between align-items-center"><i class="material-icons" style="font-size:22px;color:green">credit_card</i> Cartão de Crédito</li>
                  <li class="list-group-item d-flex justify-content-between align-items-center"><i class="material-icons" style="font-size:22px;color:green">aod</i> Pix / Mercado Pago</li>
                </ul>
              </div>
            </div>
        </div>
        <div class="card-footer">
          <div class="row h-100">
            <div class="col-1 align-self-center">
              <i class="material-icons" style="font-size:24px;color:green">notes</i>
            </div>
            <div class="col-11 align-self-center">
              * Não trabalhamos com cheque
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>
  <div class="mb-5" ><br></div><div class="mb-3" ><br></div>
</div>
