<div class="container mat-typography" style="font-size: 100%;">

  <div class="jumbotron">

    <a routerLink="blog" class="mb-4" >Blog</a>

    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
      <h1> <span *ngIf="!searchMode">Cadastro</span> <span *ngIf="searchMode">Buscar</span> Paciente</h1>

      <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input"
          id="searchModeControl"
          (change)="chooseFormMode()"
          formControlName="formMode">
        <label class="custom-control-label" for="searchModeControl">Buscar</label>
      </div>




      <div class="row ">
        <div class="col-3 align-self-center">
          <app-input-field  formControlName="name"
          [classeCss]="aplicaCssErro('name')"
          id="name" label="Nome" [control]="formulario.get('name')"
          ></app-input-field>
        </div>

        <div class="col-2 align-self-center">
          <app-input-field  formControlName="phone"

          [classeCss]="aplicaCssErro('phone')"
          id="phone" label="telefone" [control]="formulario.get('phone')"
          mask="(00)00000-0000"
          placeholder="(__)_____-____"
          ></app-input-field>
        </div>

        <div class="col-5  align-self-center" *ngIf="searchMode">
          <div class="row">
            <div class="col-8">
              <input type="text"
                      placeholder="Data Agendamento"
                      formControlName="scheduledateRange"
                      class="form-control"
                      bsDaterangepicker
                      [bsConfig]="{ isAnimated: true, dateInputFormat: 'DD/MM/YYYY', rangeInputFormat: 'DD/MM/YYYY' }">
            </div>
            <div class="col-4">
              <button type="button" class="btn btn-info" (click)="setScheduledateRangeDay(0)">
                <span >Hj</span>
              </button>
              <button type="button" class="btn btn-info ml-1" (click)="setScheduledateRangeDay(1)">
                <span >Anhã</span>
              </button>
            </div>
          </div>
        </div>

        <div class="col-5  align-self-center" *ngIf="!searchMode">

          <app-schedule-register formControlName="scheduleData" index="0"  [readonly]= "false" [removeButtonActive]="false"></app-schedule-register>
        </div>

      </div>
      <div class="row mt-3">

        <button type="submit" class="btn btn-success" [disabled]="isLoading">
          <span *ngIf="!searchMode">Criar</span> <span *ngIf="searchMode">Buscar</span>
        </button>
        <app-loading-spinner [isLoading]="isLoading" [showText]="false"></app-loading-spinner>


        <app-error-message [isError]="isError" [messageError]="messageError"></app-error-message>
      </div>



    </form>
  </div>
</div>


<app-patient-register-line [patientRegisters] = "newPatient" [SearchDateRange]="getScheduleDateRange()" *ngIf="showPatient"></app-patient-register-line>

<!--
<app-form-debug [form] = "formulario"></app-form-debug>
-->


