@import '~ngx-sharebuttons/themes/circles/circles-light-theme';


$background-color-Base: rgba(249, 249, 249);//, 1);

body
{
 background-color: rgba($background-color-Base,1) ;
}

.bg-background-color-Base
{
  background-color: rgba($background-color-Base,1) ;
}

.transparent-background
{
  background-color: rgba(204, 33, 33, 0);
}


$base-color:  rgba(191, 194, 164);

.bg-site-middle
{

  //background-color: rgba(191, 194, 164, 1);
  background-color: rgba($base-color, 1);


  //background-image: url("./assets/images/background/marmore.jpg");
}

.shadow-bg-site-middle
{
  -webkit-box-shadow: 15px 15px 13px 2px rgba($base-color,0.79);
  -moz-box-shadow: 15px 15px 13px 2px rgba($base-color,0.79);
  box-shadow: 15px 15px 13px 2px rgba($base-color,0.79);
}

.bg-site-clear
{
  //background-color:rgb(232, 233, 232)
  background-color:rgba(232, 232, 232,1)
}

.bg-site-white-opacity-6
{
  //background-color:rgb(232, 233, 232)
  background-color:rgba(255, 255, 255,0.6)
}


.bg-site-strong
{
  background-color:rgb(51, 42, 14)
}

.text-site-strong
{
  color:rgb(51, 42, 14)
}

.bg-button
{
  background-color: rgba(77, 114, 40, 0.75);
}

.pointer {cursor: pointer;}


.bg-site-middle-left
{
  background-color: rgba(191, 194, 164, 0.4);
}
