@import "../../style/globalStyleTheme.scss";

.readOnly_checkbox{
pointer-events: none;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}


app-input-field , mat-form-field
{
  width: 100%;
}


.remove-icon
{
  font-size: 28px;
  color: red;
}

.dysplay-short-icon
{
  font-size: 24px;
  color: rgb(49, 44, 44);
}


.schedule-card
{
  border: solid 5px;
  border-color:  rgba($base-color, 1);
}
