
<!-- <form [formGroup]="formulario" (ngSubmit)="onSubmit()">-->
  <div class="form-group" >

  <div class="card my-3 schedule-card rounded ">
    <div class="card-header">

      <div class="row clearfix">
        <div class="w-100 " *ngIf="!readonly">
          <a class=" text-white  mx-2 float-right" (click)="removeMySelf()">
            <span class="material-icons remove-icon pointer">delete_forever</span>
          </a>
        </div>
      </div>


      <div class="row">
        <div class="col-7 align-self-center mb-n4">
          <mat-form-field appearance="fill" >
            <mat-label>Data </mat-label>
            <input matInput [matDatepicker]="startdDate" [readonly]="readonly" [(ngModel)]="innerValue['StartdDate']" (ngModelChange) = "sincronizeSchedule()" > <!--formControlName="startdDate"-->
            <mat-datepicker-toggle matSuffix [for]="startdDate" *ngIf="!readonly"></mat-datepicker-toggle>
            <mat-datepicker #startdDate></mat-datepicker>
          </mat-form-field>
        </div>


        <div class="col-5 aling-self-center">
          <timepicker id="scheduletime" #scheduletime [readonlyInput]="readonly" [showMeridian]="ismeridian" [(ngModel)]="timepicker" (ngModelChange) = "sincronizeSchedule()"
          ></timepicker>
        </div>

      </div>

      <div class="row h-100" *ngIf="!readonly" >
        <div class="col-7 align-self-center mb-n4">
          <mat-form-field appearance="fill">
            <mat-label>Duração</mat-label>
            <input type="number" matInput placeholder="" [(ngModel)]="innerValue['Duration']" (ngModelChange) = "sincronizeEndTime()" >
          </mat-form-field>
        </div>

        <div class="col-5 align-self-center ">
          <div>Fim: {{endTimeFormated}}</div>

        </div>

      </div>

    </div>



    <div class="card-body">

      <div class="row">
        <div class="col-4">
          <div class="checkbox" >
            <label class="checkbox-inline"  >
              <input type="checkbox" [(ngModel)]="innerValue['Canceled']" (click)="!readonly" > Cancelado
            </label>
          </div>
        </div>


        <div class="col-4">
          <div class="checkbox" >
            <label class="checkbox-inline"  >
              <input type="checkbox" [(ngModel)]="innerValue['Confirmed']" (click)="!readonly" > Confirmado
            </label>
          </div>
        </div>

        <div class="col-4">
          <div class="checkbox" >
            <label class="checkbox-inline" >
              <input type="checkbox" [(ngModel)]="innerValue['Executed']" (click)="!readonly"> Realizado
            </label>
          </div>
        </div>
      </div>

      <div  class="row" *ngIf="!readonly">
        <mat-form-field appearance="fill" >
          <mat-label> Comentários  </mat-label>
          <textarea matInput [(ngModel)]="innerValue['Comments']"   [readonly]="readonly" ></textarea> <!--formControlName="comments"-->
        </mat-form-field>
      </div>

    </div>

  </div>

  <!--<app-form-debug [form] = "formulario"></app-form-debug>-->

<!--</form>-->
</div>












