<div class="container">
  <div class="row bg-site-middle"><br></div>
  <div class="row text-site-strong">
    <div class="col-12 col-lg-6 text-right ">
      <div class="row ">

          <div class="col-4 ">
            <a routerLink = "/">
              <img  class="mr-sm-n4" src = "../../../assets/images/logo/logosimplestransparente.png" style="height: 170px; width: auto;">
            </a>
          </div>

          <div class="col-8 align-self-end  text-left">
            <a routerLink = "/">
              <div class="  ml-md-n3">

                <app-main-name fontSizePercent="110%"></app-main-name>

              </div>
            </a>
          </div>


      </div>


    </div>

    <div class=" col-12 col-lg-6  align-self-center  font-italic pl-5"> <!--col-6  align-self-center font-italic pl-5-->

        <ng-content select="[textoLateralDireito]"></ng-content>

    </div>


  </div>

</div>


