<div class="container">
  <div class="row bg-site-middle"><br></div>
  <div class="row text-site-strong">
    <div class="col-12 col-lg-6 text-right ">
      <div class="row ">

          <div class="col-4 ">
            <a routerLink = "/">
              <img  class="mr-sm-n4" src = "../../../assets/images/logo/logosimplestransparente.png" style="height: 170px; width: auto;">
            </a>
          </div>

          <div class="col-8 align-self-end  text-left">
            <a routerLink = "/">
              <div class="  ml-md-n3">

                <h1 class="mb-n2 " >
                  <span class="color-brown-tree" style="font-family: nirmala; font-weight: normal; ">NEL</span>
                  <span class="color-beige-tree" style="font-family: mistral; ">Zen</span>
                </h1>
                <h3 class="color-pink-ball" style="font-family: nirmala; ">espaço feminino</h3>

              </div>
            </a>
          </div>


      </div>


    </div>

    <div class=" col-12 col-lg-6  align-self-center  font-italic pl-5"> <!--col-6  align-self-center font-italic pl-5-->

        <ng-content select="[textoLateralDireito]"></ng-content>

    </div>


  </div>

</div>


