<!--<div class="container-fluid mt-sm-n2 mt-md-n3 mt-lg-n4 mt-xl-n5 " style="z-index: 5;"> //mt-sm-n2 mt-md-n3 mt-lg-n4 mt-xl-n5-->
<div class="container-fluid "   ><!--mt-sm-n2 mt-md-n3 mt-lg-n4 mt-xl-n5-->

    <div class="row ml-0 pr-100 " >
    <div class="col-1 col-sm-2 col-lg-3  "></div>
    <div class="col-11  col-sm-9 col-lg-9 col-xl-8 bg-site-middle ">


      <h4 class=" m-3">Clique na massagem/terapia desejada</h4>

      <div class="m-1 p-1 d-inline align-top" *ngFor="let therapyCategory of therapies">
        <app-therapy-category-menu [therapyCategoryCurrent]="therapyCategory"></app-therapy-category-menu>
      </div>


      <h4 class=" m-3">Pacotes</h4>

      <div class="m-1 p-1 d-inline align-top" *ngFor="let _pack of packs">

            <app-package-menu  [packCurrent]="_pack"></app-package-menu>

        </div>




      <div class="d-flex1 p-3 m-1 flex-wrap1 transparent-background " id="divpai" *ngIf="false">


        <div class="m-1 p-1" *ngFor="let therapyCategory of therapies">


            <div class="row ">
              <div class="col-2 align-self-center m-23  ">
                <img src="../assets/images/therapies/{{therapyCategory.image}}_thumb.jpg" data-aos="fade-up" class="rounded-circle" width="150" height="150">
              </div>
              <div class="col-9 align-self-center m-23 text-left  ">
                <h3>{{therapyCategory.categoria}}</h3>

                <div class="m-1 p-1 " *ngFor="let therapy of therapyCategory.tipos">
                  <button type="button" class="btn btn-outline-success border-0 text-light rounded-radius " (click)="logClicked(therapy.id)">
                    <div class="d-flex">
                      <div class="rectangle border border-top-0 border-left-1 border-right-0 border-bottom-0 bg-button"></div>
                      <div class="rectangle border  border-top-0 border-left-0 border-right-0 border-bottom-0 ml-n5   "></div>
                      <p  class="ml-n5  mt-2 font-weight-bold "> {{therapy.titulo}} </p>
                    </div>
                  </button>
                </div>

              </div>
            </div>

            <!--
            <button type="button" class="btn btn-outline-success border-0 text-light rounded-radius " (click)="logClicked(therapyCategory.categoria)">
              <div class="d-flex">
              <div class="rectangle border border-top-0 border-left-1 border-right-0 border-bottom-0 bg-button"></div>
              <div class="rectangle border  border-top-0 border-left-0 border-right-0 border-bottom-0 ml-n5   "></div>
              <p  class="ml-n5  mt-2 font-weight-bold "> {{therapyCategory.categoria}} </p></div>
            </button>
            -->




        </div>
      </div>
    </div>
  </div>

</div>

